export(mapICDCodesToPedPhecodes, createPedPhenotypes, phenotypePlot, plotManhattan, phewas_ext, restrictPedPhecodesBySex) 
import(dplyr,tidyr,ggplot2,parallel)
importFrom(MASS,mvrnorm)
importFrom(meta,metagen)
importFrom(ggrepel,geom_text_repel)
importFrom(DT,datatable)
importFrom(survival,clogit,strata,coxph,Surv)
importFrom(logistf,logistf)
importFrom(lmtest,lrtest)
importFrom("stats", "aggregate", "as.formula", "binomial",
             "chisq.test", "confint", "contrasts", "contrasts<-", "cor",
             "glm", "lm", "model.matrix", "na.omit", "p.adjust",
             "pchisq", "qnorm", "rpois", "t.test", "terms")
importFrom("utils", "write.table")
